<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlantUMLEditor.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlantUMLEditor.AppSettings>
            <setting name="WorkingDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Files" serializeAs="String">
                <value />
            </setting>
            <setting name="GridSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MRU" serializeAs="String">
                <value />
            </setting>
            <setting name="DocFXEXE" serializeAs="String">
                <value />
            </setting>
            <setting name="GITUser" serializeAs="String">
                <value>noone</value>
            </setting>
            <setting name="GITEmail" serializeAs="String">
                <value>none@nowhere.com</value>
            </setting>
            <setting name="JARLocation" serializeAs="String">
                <value>plantuml.jar</value>
            </setting>
            <setting name="ColorSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="MDColorSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value>\Templates</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AzureAIEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAIDeployment" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAIMaxOutputTokens" serializeAs="String">
                <value>2046</value>
            </setting>
            <setting name="SelectedFont" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="UMLPureMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prompts" serializeAs="String">
                <value>\Prompts</value>
            </setting>
        </PlantUMLEditor.AppSettings>
    </userSettings>
</configuration>